n8n-template-gmail-smtp.json
{
  "name": "Gmail (SMTP) - Send Email Template",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "to",
              "value": "recipient@example.com"
            },
            {
              "name": "subject",
              "value": "Hello from n8n via Gmail SMTP"
            },
            {
              "name": "text",
              "value": "This is a plain text body."
            },
            {
              "name": "html",
              "value": "<p>This is an <strong>HTML</strong> body.</p>"
            }
          ]
        }
      },
      "id": "setEmailFields1",
      "name": "Set Email Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "your-user@your-domain.com",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.text}}",
        "html": "={{$json.html}}"
      },
      "id": "sendEmail1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Email Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Fields": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null
}

